<div class="col-md-4">
	<div class="card" data-id="<%= portfolio_item.id %>">
	  <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: '100%' %>
	  <p class="card-text">
	    <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span> <%= portfolio_item.subtitle %>
	  </p>

	  <%= link_to "Delete Item", portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>

	  <%= link_to "Create a New Portfolio", new_portfolio_url if logged_in?(:site_admin) %>
	</div>

</div>
