<head>
	STYLESHEET LINK
</head>




<div class="app-card-container">
  <div class="card">
	<h1>Want To Work Together?</h1>

		<hr>
			<div>
			  <p><%= number_to_phone "801-420-3327" %></p>
			</div>

		<hr>
			<div>
			  <p><a href="mailto:steven.james.dev@gmail.com?subject=PortfolioContact" "email me">Email Me</a> </p>
			  <p class="social-media">			
			  <a href="#"><%=fa_icon "linkedin" %></a>
			  <a href="https://www.instagram.com/steven_james_rmr/" target="_blank"><%=fa_icon "instagram" %></a>
			  <a href="https://twitter.com/stevenjamesdev1" target="_blank"><%=fa_icon "twitter" %></a>
			  <a href="https://github.com/steven-james-rmr" target="_blank"><%=fa_icon "github-alt" %></a>
			  <a href="https://www.facebook.com/rockymtnredneck" target="_blank"><%=fa_icon "facebook" %></a>









			  </p>
			</div>
  </div>
</div>